[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
whitenoise = "*"
django-environ = "*"
pillow = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
django-localflavor = "*"
django-webpack-loader = "*"
"boto3" = "*"
django-storages = "*"
django-imagekit = "*"
"django-bootstrap4" = "*"
numpy = "*"
django-registration-redux = "*"
django-ses = "*"
django-mail-templated = "*"
django-import-export = "*"

[dev-packages]
"flake8" = "*"
