{% load i18n %}{% autoescape off %}
{% blocktrans %}Está recibiendo este correo porque pidió reestablecer su contraseña para el sitio {{ site_name }}.{% endblocktrans %}

{% trans "Por favor, vaya a esta liga e ingrese su nueva contraseña:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Su correo, en caso de que se le le haya olvidado:" %} {{ user.get_username }}

{% trans "¡Gracias por usar nuestro sitio!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
