[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
djangorestframework = "==3.9.0"
whitenoise = "==4.1.2"
django-environ = "==0.4.5"
pillow = "==5.4.1"
django-cors-headers = "==2.4.0"
"psycopg2-binary" = "==2.7.6.1"
django-localflavor = "==2.1"
django-webpack-loader = "==1.0.0"
"boto3" = "==1.9.75"
django-imagekit = "==4.0.2"
"django-bootstrap4" = "==0.0.7"
numpy = "==1.15.4"
django-registration-redux = "==2.5"
django-ses = "==2.1.1"
django-import-export = "==2.5.0"
"django-s3-storage" = "==0.12.4"
django-templated-email = "==2.2.0"
gunicorn = "==19.9.0"

[dev-packages]
"flake8" = "*"
black = "==18.9b0"

[requires]
python_version = "3.6"
