.album-background
    background-position: center top
    background-repeat: repeat
    background-size: 100%
    min-height calc(100vh - 60px)

.america
    @extend .album-background
    background-image: url('../../assets/images/america.png')
    background-color: #000000

.pachuca
    @extend .album-background
    background-image: url('../../assets/images/pachuca.jpg')
    background-color: #000000

.pumas
    @extend .album-background
    background-image: url('../../assets/images/pumas.jpg')
    background-color: #000000

.svg-logo-sidebar
    display inline-block
    width 18px

.bg-worldcup
    background-image: url('../../assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-position: top
    background-size: auto
