.album-background
    background-position: center top
    background-repeat: repeat
    background-size: 100%
    min-height calc(100vh - 60px)

.compliance-officer-mexico-ca
    @extend .album-background
    background-image: url('../../assets/images/compliance-officer-mexico-ca.jpg')
    background-color: #000000
    
.direccion-de-acceso-y-asuntos
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-acceso-y-asuntos.jpg')
    background-color: #000000

.direccion-de-administracion-y-finanzas
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-administracion-y-finanzas.jpg')
    background-color: #000000

.direccion-de-asuntos-regulatorios
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-asuntos-regulatorios.jpg')
    background-color: #000000

.direccion-de-comercializacion
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-comercializacion.jpg')
    background-color: #000000

.direccion-de-excelencia-comercial
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-excelencia-comercial.jpg')
    background-color: #000000

.direccion-de-it
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-it.jpg')
    background-color: #000000

.direccion-de-marketing
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-marketing.jpg')
    background-color: #000000

.direccion-de-operaciones-planta
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-operaciones-planta.jpg')
    background-color: #000000

.direccion-de-recursos-humanos
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-recursos-humanos.jpg')
    background-color: #000000

.direccion-de-supply-chain
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-supply-chain.jpg')
    background-color: #000000

.direccion-de-vacunas
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-vacunas.jpg')
    background-color: #000000

.direccion-de-ventas-farma
    @extend .album-background
    background-image: url('../../assets/images/direccion-de-ventas-farma.jpg')
    background-color: #000000

.direccion-general
    @extend .album-background
    background-image: url('../../assets/images/direccion-general.jpg')
    background-color: #000000

.direccion-legal
    @extend .album-background
    background-image: url('../../assets/images/direccion-legal.jpg')
    background-color: #000000

.direccion-medica
    @extend .album-background
    background-image: url('../../assets/images/direccion-medica.jpg')
    background-color: #000000

.svg-logo-sidebar
    display inline-block
    width 18px

.bg-worldcup
    background-image: url('../../assets/images/fondo.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: auto
