.album-background
    background-position: center top
    background-repeat: no-repeat
    background-size: 100%
    min-height calc(100vh - 60px)

.asuntos-regulatorios
    @extend .album-background
    background-image: url('../../assets/images/asuntos-regulatorios.jpg')
    background-color: #59AAED

.bonus
    @extend .album-background
    background-image: url('../../assets/images/bonus.jpg')
    background-color: #78E0DE

.calidad-y-cumplimiento
    @extend .album-background
    background-image: url('../../assets/images/calidad-y-cumplimiento.jpg')
    background-color: #7BE64E

.contabilidad-y-finanzas
    @extend .album-background
    background-image: url('../../assets/images/contabilidad-y-finanzas.jpg')
    background-color: #E5E133

.gerencias-y-direcciones
    @extend .album-background
    background-image: url('../../assets/images/gerencias-y-direcciones.jpg')
    background-color: #FFDA3F

.importaciones
    @extend .album-background
    background-image: url('../../assets/images/importaciones.jpg')
    background-color: #D45115

.logistica
    @extend .album-background
    background-image: url('../../assets/images/logistica.jpg')
    background-color: #D231AB

.importaciones
    @extend .album-background
    background-image: url('../../assets/images/importaciones.jpg')
    background-color: #D45115

.mantenimiento
    @extend .album-background
    background-image: url('../../assets/images/mantenimiento.jpg')
    background-color: #A02BE2

.operaciones
    @extend .album-background
    background-image: url('../../assets/images/operaciones.jpg')
    background-color: #8426E4

.recursos-humanos
    @extend .album-background
    background-image: url('../../assets/images/recursos-humanos.jpg')
    background-color: #511EE4

.soporte-tecnico
    @extend .album-background
    background-image: url('../../assets/images/soporte-tecnico.jpg')
    background-color: #1B3ADE

.ventas
    @extend .album-background
    background-image: url('../../assets/images/ventas.jpg')
    background-color: #3D77E5


.svg-logo-sidebar
    display inline-block
    width 18px

.bg-worldcup
    background-image: url('../../assets/images/Fondo.png')
    background-repeat: no-repeat
    background-position: top
    background-size: cover
