.header-description
    padding 20px 30px
    background: rgba($white, 0.8)
    p
        font-family: 'antenna'
        font-size 1em
    h2
        font-family: 'avenir'
        font-weight: bold
        color $primary

.Album-Container
    lost-utility clearfix
    padding-bottom 20px
    position relative
    .Card-List
        nav
            margin 0 auto
        &--Container
            padding 20px 0
        &--Row
            lost-utility clearfix
            lost-center 1024px
            padding 0 30px
            +below($tablet)
                padding 0
            &--Description
                lost-column 8/12 2 40px
                +below($tablet)
                    lost-column 1/1 1 0
            &--Badge
                lost-column 4/12 2 40px
                +below($tablet)
                    lost-column 1/1 1 0
            &--Card
                lost-column 4/12 3 40px
                +below($tablet)
                    lost-column 6/12 2 10px
    .Sidebar
        position: fixed
        top: 0
        left: 0
        bottom: 0
        padding: 20px 60px 10px 0
        z-index 999

        +mobile()
            width: 100%
        .DesktopSidebar
            display: block
            overflow-y: auto
            height 100%
            ul
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
            .Nav--Link
                color: #333;
                font-size 14px
                padding: .2rem 1rem;
                display block
                margin 0
                &:hover
                    text-decoration: none;
                &.info
                    color $primary
                    padding-top 0
                    padding-bottom 0
    .Cover
        min-height calc(100vh - 60px)
        .alert
            margin: 20px 25px;
        &--Header
            margin 0 auto
            lost-utility clearfix
            img
                width 100%
                max-width 120px
                display: block
                margin 0 auto
        &--Logo
            lost-utility clearfix
            margin 20px auto
            img
                width 100%
                max-width 250px
                display: block
                margin 0 auto
        &--User
            text-align: center
            font-family: 'din'
            font-weight: bold
            color: $white
            text-transform: uppercase
            margin 150px auto 0 auto
            padding: 25px 30px
            .Title
                font-size 2em
            .Progress
                font-size 1.2em
                color $primary
            p
                margin 0
        &--Logos
            lost-utility clearfix
            margin 20px auto
            img
                width 100%
                max-width 400px
                display: block
                margin 0 auto
        &--Aeromexico
            lost-utility clearfix
            margin 0px auto
            background: #D1D3D4
            padding: 20px 30px
            width 100%
            img
                max-width 200px
                margin 0px auto
                display: block

@keyframes glowing {
  0% { box-shadow: 0 0 -20px #ffeb3b; }
  40% { box-shadow: 0 0 100px #ffeb3b; }
  60% { box-shadow: 0 0 100px #ffeb3b; }
  100% { box-shadow: 0 0 -20px #ffeb3b; }
}

.Card
    &--Full
        width 100%
        position relative
        &--Footer
            background: rgba($black, 0.6)
            padding: 37px 10px 10px 10px
            &--Code
                lost-utility clearfix
                span
                    text-transform: uppercase;
                    font-family: 'din';
                    font-size: 0.9em;
                    border: 1px solid $black
                    color: $black
                    padding 4px 7px 4px 5px
                    margin: 0
                    display inline-block
                    margin-right: -5px;
                a
                    display block
                    // margin-right: -5px;
                    text-transform: uppercase;
                    font-family: 'din';
                    font-size: 0.7em;
                    padding 6px 8px
                    background $primary
                    color $white
                    letter-spacing: 1px
                    margin 3px auto
                    text-align: center
                    &:hover
                        background: $white
                        color $primary
                        text-decoration: none
        &--Body
            position: absolute 0
            width 100%
            font-family: 'antenna'
            &.NewCard
                svg, .CardPhoto
                    animation: glowing 2000ms infinite
            &--Title
                position absolute
                left 20px
                top 88%
                color $black
                z-index 10
                width: 68%
                p
                    margin 0
                    letter-spacing: -0.1px
                    font-family: 'antenna'
                    &.title
                        font-size: 11px;
                        font-weight: bold;
                        line-height: 10px;
                        margin: 0;
                        border-bottom 1px solid $black
                        padding-bottom 2px
                    &.department
                        font-size: 10px;
                        margin: 0;
                        font-weight: bold;
                        color $grey
                    &.description
                        font-size: 9px;
                        margin: 0;
                        text-transform: capitalize;
                        line-height: 1px;
                        color $grey
            &--Quantity
                position: absolute
                top: -10px
                right: -10px
                border-radius: 50%
                size 50px
                z-index 11
                background $primary
                cursor pointer
                span
                    center both
                    color $white
                    font-weight: bold
                    font-size 1.2em
            &--Back
                width: 100%
                position: absolute 0
                z-index 10
                &--Ribbon
                    position: absolute
                    top 1px
                    right 1px
                    width 18%
                &--Photo
                    border 2px solid $black
                    position: absolute 0
                    width: 100%
                svg
                    // border 2px solid $black
                    // position: absolute 0
                    // size: 100%
                    position relative
                    display block
                    top 0
                    width 100%
        &:before
            content: ''
            padding-top: 128%
            display: block

    &--Empty
        width 100%
        position relative
        background-color: #fff
        font-family 'antenna'
        padding auto
        &--Body
            position: absolute 0
            width 100%
            &--Back
                width: 100%
                position: absolute 0
                z-index 10
                svg
                    border 2px solid $black
                    position relative
                    display block
                    top 0
                    width 100%
            &--Shield
                width: 60%
                position absolute
                center both
                color $black
                z-index 10
                svg
                    position: absolute
                    left 0
                    center vertical
                    width: 100%
            &--Title
                position absolute
                center both
                color $black
                z-index 10
            &--Name
                center both
                top 88%
                color $black
                z-index 10
                font-weight: bold
                text-align center
                width: 75%
                font-size 12px
                line-height: 12px
        &:before
            content: ''
            padding-top: 130%
            display: block
