.main-menu
    background white
    border-bottom: 4px $primary solid
    .nav-item
        text-transform: uppercase
        font-family: 'din'
        font-size 0.9em
        .nav-link
            color $primary
            &:hover
                color $blue

.logo-abalat-menu
    display inline-block
    margin 0.25rem 0.5rem
    +mobile()
        margin 0.5rem 0

#Menu--Toggler
    position: absolute
    top 0
    right 0
    bottom 0
    z-index 1001
    width: 40px
    background: $primary
    color: $white
    border none
    font-weight: bold
    cursor pointer
    +mobile()
        width 27px
    span
        display: block
        center both
        transform translateX(-50%) translateY(-50%) rotate(90deg);
        width: 300px;

.Event-Item
    background: $primary
    color: $black
    padding 20px 0
