{% extends "registration/registration_base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="text-center">
    <h2 class="border-bottom border-gray pb-2 mb-0 ">Guardar en álbum, {{email}}</h2>
    <div class="row my-3">
        <div class="col-md-4 mb-4 mx-auto">
            <div class="Card--Full">
                <div class="Card--Full--Body">
                    <div class="Card--Full--Body--Back">
                        {% include card.html_template with card=card %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="post" action="." class="pt-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary btn-lg">Guardar</button>
        {% endbuttons %}
    </form>
</div>
{% endblock %}
