{% extends "cards/cards_base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Álbum</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Portada
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Secciones</span>
                </h6>
                <ul class="nav flex-column">
                    {% for department in departments %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:card_list' slug=department.slug %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            {{department.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <h2>{{department.name}}</h2>
            {% for card in object_list %}
            <div class="card text-dark mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ card.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ card.description|upper }}</h6>
                    <!-- <a href="#" class="card-link">Card link</a> -->
                </div>
            </div>
            {% empty %}
            <li class="list-group-item d-flex justify-content-between lh-condensed text-dark">
                <div>
                    <p class="my-0">No perteneces a ningún grupo.</p>
                </div>
                <span class="text-muted"></span>
            </li>
            {% endfor %}
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number is i %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </main>
    </div>
</div>

{% endblock %}
