{% load static %}
<div class="Sidebar">
    <nav class="MobileSidebar">
        <div class="MobileSidebar--Information">
            <span class="Name"><strong>Nombre:</strong> {{album_user.full_name}}</span>
            <span class="Progress"><strong>Avance:</strong> {{codes}}/{{total}}</span>
        </div>
        <div class="MobileSidebar--Buttons">
            <span>
                <a href="{% url 'cards:card_list' pk=album_user.id slug='portada' %}">
                    <img src="{% static 'assets/logos/portada.svg' %}" width="50" height="50">
                    <div>
                        <strong>Portada</strong>
                    </div>
                </a>
            </span>
            {% for department in departments %}
            <span>
                <a href="{% url 'cards:card_list' pk=album_user.id slug=department.slug %}">
                    <img src="{% static department.svg_template %}" width="50" height="50">
                    <div>
                        <strong>{{department.name}}</strong>
                        ({{department.codes}}/{{department.cards}})
                    </div>
                </a>
            </span>
            {% endfor %}
        </div>
    </nav>
    <nav class="DesktopSidebar bg-light">
        <h6 class="sidebar-heading px-3 mt-4 mb-3 text-muted">
            <span>Información</span>
        </h6>
        <ul class="Nav">
            <li class="Item">
                <p class="Nav--Link info">
                    <strong>Nombre:</strong> {{album_user.full_name}}
                </p>
            </li>
            <li class="Item">
                <p class="Nav--Link info">
                    <strong>Avance:</strong> {{codes}}/{{total}}
                </p>
            </li>
        </ul>
        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
            <span>Secciones</span>
        </h6>
        <ul class="Nav">
            <li class="Item">
                <a class="Nav--Link Department" href="{% url 'cards:card_list' pk=album_user.id slug='portada' %}">
                    <div class="svg-logo-sidebar">
                        <img src="{% static 'assets/logos/portada.svg' %}">
                    </div>
                    <strong>Portada</strong>
                </a>
            </li>
            {% for department in departments %}
            <li class="Item">
                <a class="Nav--Link Department" href="{% url 'cards:card_list' pk=album_user.id slug=department.slug %}">
                    <div class="svg-logo-sidebar">
                        <img src="{% static department.svg_template %}">
                    </div>
                    <strong>{{department.name}}</strong>
                    ({{department.codes}}/{{department.cards}})
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>

