{% extends "cards/cards_base.html" %}

{% load bootstrap4 %}

{% block content %}
<div class="container-fluid {{department.slug}}">
    <div class="row justify-content-center">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Álbum</span>
                </h6>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            Portada
                        </a>
                    </li>
                </ul>
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Secciones</span>
                </h6>
                <ul class="nav flex-column">
                    {% for department in departments %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:card_list' slug=department.slug %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                            {{department.name}}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 col-lg-8 offset-md-1 offset-lg-2 pt-3 px-4">


            {% if page_obj.number is 1 %}
            <div class="row mb-4">
                <div class="col-md-8 mb-4 header-description">
                    <h2>{{department.name}}</h2>
                    <p>{{department.description}}</p>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="Card--Full">
                        <div class="Card--Full--Body">
                            <div class="Card--Empty">
                                <div class="Card--Empty--Body">
                                    <div class="Card--Full--Body--Back">
                                        {% include 'cards/types/blank.html' with card=badge %}
                                    </div>

                                    {% comment %} <div class="Card--Empty--Body--Shield">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.01 71.6">
                                            <g data-name="Layer 2">
                                                <g opacity=".7" fill="#404041">
                                                    <path d="M61.67 36.7c-4.22-10.55-4.85-22.36-1.48-27.84S42.84.12 31.5 0C20.17.12-.49 3.47 2.82 8.86S5.56 26.15 1.34 36.7s2.19 18 9.7 21.94c8.22 4.3 13.71 6.12 20.46 13 6.75-6.85 12.24-8.67 20.46-13 7.52-3.94 13.92-11.4 9.71-21.94zM51 56.82c-1.64.86-3.17 1.62-4.65 2.35-5.18 2.56-9.63 4.76-14.52 9.26l-.35.32-.35-.32c-4.89-4.49-9.34-6.7-14.49-9.25-1.5-.74-3-1.5-4.67-2.36C6.9 54.16-1 48.1 3.24 37.46 7.7 26.31 8.3 14.21 4.71 8l-.2-.35.3-.28c.48-.45 2.63-2.05 10-3.54A96.25 96.25 0 0 1 31.5 2a96.26 96.26 0 0 1 16.75 1.86c7.33 1.49 9.47 3.09 10 3.54l.3.28-.25.32c-3.59 6.2-3 18.3 1.47 29.43C64 48.1 56.11 54.16 51 56.82z"/>
                                                    <path d="M57.2 7.9c-.77-.53-3.14-1.82-9.15-3A95.12 95.12 0 0 0 31.5 3.07 95.11 95.11 0 0 0 15 4.86c-6 1.22-8.38 2.51-9.15 3 3.5 6.54 2.86 18.74-1.62 29.93-4 9.89 3.49 15.57 8.27 18.08 1.63.85 3.16 1.61 4.63 2.34 5.12 2.54 9.55 4.72 14.41 9.11 4.86-4.38 9.28-6.57 14.39-9.09 1.5-.74 3-1.49 4.65-2.35 4.79-2.5 12.23-8.18 8.27-18.08-4.5-11.14-5.14-23.34-1.65-29.9z"/>
                                                    <path d="M50.54 55.91c-1.63.85-3.16 1.61-4.65 2.35-5.1 2.52-9.53 4.71-14.39 9.09-4.86-4.38-9.28-6.57-14.41-9.11-1.47-.73-3-1.48-4.63-2.34C7.68 53.41.23 47.73 4.19 37.84 8.67 26.65 9.31 14.45 5.81 7.9c.78-.53 3.14-1.82 9.15-3A95.11 95.11 0 0 1 31.5 3.07 95.12 95.12 0 0 1 48 4.86c6 1.22 8.38 2.51 9.15 3-3.49 6.56-2.85 18.76 1.62 29.93 4 9.94-3.44 15.62-8.23 18.12z"/>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="Card--Empty--Body--Title">
                                        <h1>{{card.id}}</h1>
                                    </div>
                                    <div class="Card--Empty--Body--Name">
                                        <p>{{card.name}}</p>
                                    </div> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="row mb-4">
                {% for card in object_list %}
                <div class="col-md-4 mb-4">
                    {% if forloop.counter is 1 %}
                    <div class="Card--Full">
                        <div class="Card--Full--Body">
                            <div class="Card--Full--Body--Back">
                                {% include card.html_template with card=card %}
                            </div>
                        </div>
                        {% comment %} <div class="Card--Full--Body--Title">
                            <p class="title">{{card.name}}</p>
                            <p class="department">{{card.fk_department}}</p>
                            <p class="description">{{card.description|title}}</p>
                        </div> {% endcomment %}
                    </div>
                    {% else %}
                    <div class="Card--Empty">
                        <div class="Card--Empty--Body">
                            <div class="Card--Full--Body--Back">
                                {% include 'cards/types/blank.html' with card=card %}
                            </div>
                            {% comment %} <div class="Card--Empty--Body--Shield">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63.01 71.6">
                                    <g data-name="Layer 2">
                                        <g opacity=".7" fill="#404041">
                                            <path d="M61.67 36.7c-4.22-10.55-4.85-22.36-1.48-27.84S42.84.12 31.5 0C20.17.12-.49 3.47 2.82 8.86S5.56 26.15 1.34 36.7s2.19 18 9.7 21.94c8.22 4.3 13.71 6.12 20.46 13 6.75-6.85 12.24-8.67 20.46-13 7.52-3.94 13.92-11.4 9.71-21.94zM51 56.82c-1.64.86-3.17 1.62-4.65 2.35-5.18 2.56-9.63 4.76-14.52 9.26l-.35.32-.35-.32c-4.89-4.49-9.34-6.7-14.49-9.25-1.5-.74-3-1.5-4.67-2.36C6.9 54.16-1 48.1 3.24 37.46 7.7 26.31 8.3 14.21 4.71 8l-.2-.35.3-.28c.48-.45 2.63-2.05 10-3.54A96.25 96.25 0 0 1 31.5 2a96.26 96.26 0 0 1 16.75 1.86c7.33 1.49 9.47 3.09 10 3.54l.3.28-.25.32c-3.59 6.2-3 18.3 1.47 29.43C64 48.1 56.11 54.16 51 56.82z"/>
                                            <path d="M57.2 7.9c-.77-.53-3.14-1.82-9.15-3A95.12 95.12 0 0 0 31.5 3.07 95.11 95.11 0 0 0 15 4.86c-6 1.22-8.38 2.51-9.15 3 3.5 6.54 2.86 18.74-1.62 29.93-4 9.89 3.49 15.57 8.27 18.08 1.63.85 3.16 1.61 4.63 2.34 5.12 2.54 9.55 4.72 14.41 9.11 4.86-4.38 9.28-6.57 14.39-9.09 1.5-.74 3-1.49 4.65-2.35 4.79-2.5 12.23-8.18 8.27-18.08-4.5-11.14-5.14-23.34-1.65-29.9z"/>
                                            <path d="M50.54 55.91c-1.63.85-3.16 1.61-4.65 2.35-5.1 2.52-9.53 4.71-14.39 9.09-4.86-4.38-9.28-6.57-14.41-9.11-1.47-.73-3-1.48-4.63-2.34C7.68 53.41.23 47.73 4.19 37.84 8.67 26.65 9.31 14.45 5.81 7.9c.78-.53 3.14-1.82 9.15-3A95.11 95.11 0 0 1 31.5 3.07 95.12 95.12 0 0 1 48 4.86c6 1.22 8.38 2.51 9.15 3-3.49 6.56-2.85 18.76 1.62 29.93 4 9.94-3.44 15.62-8.23 18.12z"/>
                                        </g>
                                    </g>
                                </svg>
                            </div>
                            <div class="Card--Empty--Body--Title">
                                <h1>{{card.id}}</h1>
                            </div>
                            <div class="Card--Empty--Body--Name">
                                <p>{{card.name}}</p>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row mb-4">
                {% endif %}
                {% endfor %}
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo;</span>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number is i %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&raquo;</span>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </main>
    </div>
</div>

{% endblock %}
