{% load static %}
<nav class="Menu">
    <div class="Menu--Information">
        <span class="Name"><strong>Nombre:</strong> {{user.full_name}}</span>
        <span class="Progress"><strong>Avance:</strong> {{codes}}/{{total}}</span>
    </div>
    <div class="Menu--Buttons">
        <span>
            <a href="{% url 'cards:card_list' pk=user.id slug='portada' %}">
                <img src="{% static 'assets/logos/portada.svg' %}" width="50">
            </a>
        </span>
        {% for department in departments %}
        <span>
            <a href="{% url 'cards:card_list' pk=user.id slug=department.slug %}">
                <img src="{% static department.svg_template %}" width="50">
            </a>
        </span>
        {% endfor %}
    </div>
</nav>
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-3 text-muted">
            <span>Información</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <p class="nav-link info">
                    <strong>Nombre:</strong> {{user.full_name}}
                </p>
            </li>
            <li class="nav-item">
                <p class="nav-link info">
                    <strong>Avance:</strong> {{codes}}/{{total}}
                </p>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Secciones</span>
        </h6>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link department" href="{% url 'cards:card_list' pk=user.id slug='portada' %}">
                    <div class="svg-logo-sidebar">
                        <img src="{% static 'assets/logos/portada.svg' %}">
                    </div>
                    Portada
                </a>
            </li>
            {% for department in departments %}
            <li class="nav-item">
                <a class="nav-link department" href="{% url 'cards:card_list' pk=user.id slug=department.slug %}">
                    <div class="svg-logo-sidebar">
                        <img src="{% static department.svg_template %}">
                    </div>
                    <strong>{{department.name}}</strong>
                    ({{department.codes}}/{{department.cards}})
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>
