{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body_block %}
<div class="bg-welcome">
    <div class="container pt-3 pb-2 mb-4">
        {% bootstrap_messages %}
        {% if user.is_authenticated %}
        <h4 class="text-center font-weight-bold">Hola, {{user.full_name}}</h4>
        {% if alerts.count is not 0 %}
        <p class="lead text-center">
            Te han enviado {{alerts.count}} tarjeta{% if alerts.count > 1 %}s{%endif%}, <a class="text-dark" href="{% url 'cards:notifications' %}">ver mis intercambios</a>
        </p>
        {%endif%}
        <p class="lead text-center">
            <a class="btn btn-primary" href="{% url 'cards:card_list' pk=user.id slug='portada' %}" role="button">Ir a mi álbum</a>
        </p>
        {% else %}
        <h4 class="text-center font-weight-bold">Bienvenido a tu álbum digital</h4>
        <p class="lead text-center">
            <a class="btn btn-dark" href="{% url 'registration_register' %}" role="button">Registrarse</a>
        </p>
        <p class="text-center" style="color: white;">
            <a class="text-light" href="{% url 'auth_login' %}" role="button">Inicie sesión</a>
        </p>
        {% endif %}
    </div>
</div>
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row text-center">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/logo.png' %}" alt="" width="250">
                <small class="d-block mb-3 text-muted">© 2023-2024</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
                    <li><span class="text-muted">Todos los derechos reservados</span></li>
                    <li><span class="text-muted">® Asofarma</span></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
