{% extends "cards/cards_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body_padding %}padding{% endblock %}
{% block content %}
<div class="Album-Container">
    {% include 'cards/cards_sidebar.html' with departments=departments %}
    <main role="main" class="Cover bg-worldcup">
        {% if user.is_authenticated and user.id is not album_user.id %}
        <div class="ExternalAdvice">
            <div class="OtherUser">
                <div class="container">
                    <span>Estás visualizando el álbum de {{album_user.full_name}}, para ir a tu álbum da <a href="{% url 'cards:card_list' pk=user.id slug='portada' %}">click aquí.</a></span>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="Cover--Container">
            {% bootstrap_messages %}
            <div class="Cover--Logo">
                <img class="responsive" src="{% static 'assets/cover/album_banner.png' %}">
            </div>
            <div class="Cover--User">
                <p class="Title">{{album_user.full_name}}</p>
                <p class="Progress">Avance: {{codes}}/{{total}}</p>
            </div>
            <div class="Cover--Logos">
                <img class="responsive" src="{% static 'assets/cover/logos-juntos3.svg' %}">
            </div>
        </div>
    </main>
</div>
<div class="container">
    <footer class="pt-4 mb-md-5 pt-md-5">
        <div class="row text-center">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/logo-lmx-fem.svg' %}" alt="logo asofara" width="250">
                <small class="d-block mb-3 text-muted">© 2022-2023</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
                    <li><span class="text-muted">Todos los derechos reservados</span></li>
                    <li><span class="text-muted">® Polar Multimedia</span></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

{% endblock %}
