{% load static %}
<div class="Sidebar bg-light" id="Sidebar">
    <nav class="DesktopSidebar bg-light">
        <h6 class="sidebar-heading px-3 mt-4 mb-3 text-muted">
            <span>Información</span>
        </h6>
        <ul class="Nav">
            <li class="Item">
                <p class="Nav--Link info">
                    <strong>Nombre:</strong> {{album_user.full_name}}
                </p>
            </li>
            <li class="Item">
                <p class="Nav--Link info">
                    <strong>Avance:</strong> {{codes}}/{{total}}
                </p>
            </li>
        </ul>
        <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
            <span>Secciones</span>
        </h6>
        <ul class="Nav">
            <li class="Item">
                <a class="Nav--Link Department" href="{% url 'cards:card_list' pk=album_user.id slug='portada' %}">
                    <div class="svg-logo-sidebar">
                        <img src="{% static 'assets/logo-asofarma.svg' %}" width="25">
                    </div>
                    <strong>Portada</strong>
                </a>
            </li>
            {% for department in departments %}
            <li class="Item">
                <a class="Nav--Link Department" href="{% url 'cards:card_list' pk=album_user.id slug=department.slug %}">
                    <span>{{department.minium.order}}-{{department.maximum.order}}</span>
                    <div class="svg-logo-sidebar">
                        <img src="{% static department.svg_template %}">
                    </div>
                    <strong>{{department.name}}</strong>
                    ({{department.codes}}/{{department.cards}})
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <button id="Menu--Toggler">
    <span>Ver secciones de álbum</span>
    </button>
</div>

