{% extends "cards/cards_base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block body_padding %}padding{% endblock %}
{% block content %}
<div class="Album-Container">
    {% include 'cards/cards_sidebar.html' with departments=departments %}
    <main role="main" class="Card-List">
        {% if user.is_authenticated and user.id is not album_user.id %}
        <div class="ExternalAdvice">
            <div class="OtherUser">
                <div class="container">
                    <span>Estás visualizando el álbum de {{album_user.full_name}}, para ir a tu álbum da <a href="{% url 'cards:card_list' pk=user.id slug='portada' %}">click aquí.</a></span>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="Card-List--Container {{department.slug}}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {% bootstrap_messages %}
                        {% if page_obj.number is 1 %}
                        <div class="Card-List--Row">
                            <div class="Card-List--Row--Description mb-4">
                                <div class="header-description">
                                    <h2>{{department.name}}</h2>
                                </div>
                            </div>
                            <div class="Card-List--Row--Badge mb-4">
                                {% if badge.obtained %}
                                {% include 'cards/types/card.html' with card=badge %}
                                {% else %}
                                {% include 'cards/types/empty.html' with card=badge %}
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        <div class="Card-List--Row">
                            {% for card in object_list %}
                            <div class="Card-List--Row--Card mb-4">
                                {% if card.obtained %}
                                {% include 'cards/types/card.html' with card=card %}
                                {% else %}
                                {% include 'cards/types/empty.html' with card=card %}
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                {% if is_paginated %}
                <div class="row">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if page_obj.number is i %}
                            <li class="page-item disabled">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                            {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                {% endif %}
            </div>
        </div>

    </div>
</main>
</div>
<div class="container">
    <footer class="pt-4 mb-md-5 pt-md-5">
        <div class="row text-center">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/logo_abalat_colores.svg' %}" alt="logo abalat" width="180">
                <small class="d-block mb-3 text-muted">© 2020-2021</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
                    <li><span class="text-muted">Todos los derechos reservados</span></li>
                    <li><span class="text-muted">® Polar Multimedia</span></li>
                </ul>
            </div>
        </div>
    </footer>
</div>

{% endblock %}
