{% load bootstrap4 %}
<style>
    table{
        width: auto;
        height: auto;
        bottom: 10%;
        padding: 20px;
        margin: 20px;
    }
    h1{
        padding-left: 3%;
    }
    h2{
        text-align: center;
        font-size: 26px;
    }
    h4{
        text-align: center;
        font-size: 20px;
    }
    th, td {
        border: 0px;
        text-align: left;
    }
    hr {
        border: 1.5px solid black;
        border-radius: 3px;
        width: 80%;
        margin-bottom: 4px;
        margin-top: 3px;
    }

    @media (max-width: 1009px){
        table{
            margin: 15px;
        }
        h1{
        font-size: 16px;
        }
        h2{
            font-size: 14px;
        }
        h4{
            font-size: 12px;
        }
        th, td {
            font-size: 10px;
        }
        hr {
            border: 1.5px solid black;
            border-radius: 3px;
            width: 80%;
        }
    }

    @media (max-width: 768px){
        table{
            margin: 15px;
        }
        h1{
        font-size: 16px;
        }
        h2{
            font-size: 14px;
        }
        h4{
            font-size: 12px;
        }
        th, td {
            font-size: 10px;
        }
        hr {
            border: 1.5px solid black;
            border-radius: 3px;
            width: 80%;
        }
    }

    @media (max-width: 667px){
        table{
            margin: 10px;
        }
        h1{
        font-size: 16px;
        margin-bottom: 3px;
        }
        h2{
            font-size: 14px;
        }
        h4{
            font-size: 12px;
        }
        th, td {
            font-size: 7.5px;
        }

        hr {
            border: 1px solid black;
            border-radius: 3px;
            width: 80%;
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
</style>
<h1>{{card.order}}</h1>
<h2>{{card.name}}</h2>
{% if card.charge != 'badge'%}
<div>
    <h4>{{card.position}}</h4>
    <hr />
    <table>
    <tbody>
    <tr>
        <th>Edad:</th>
        <td class="arrival_date">{{card.age}}</td>
    </tr>
    <tr>
        <th>Fecha de nacimiento:</th>
        <td>{{card.birth_date}}</td>
    </tr>
    <tr>
        <th>Lugar de nacimiento:</th>
        <td>{{card.birth_place}}</td>
    </tr>
    <tr>
        <th>Nacionalidad:</th>
        <td>{{card.nationality}}</td>
    </tr>
    <tr>
        <th>Altura:</th>
        <td>{{card.height}}</td>
    </tr>
    <tr>
        <th>Peso:</th>
        <td>{{card.weight}}</td>
    </tr>
    </tbody>
    </table>
</div>
{% else %}
<h4>ESCUDO</h4>
{% endif %}