<style>
    table{
        border: 2px solid black;
        border-radius: 10px;
        width: auto;
        height: auto;
        padding: 20px;
        margin: 20px;
    }
    h1{
        padding-left: 3%;
    }
    h2{
        text-align: center;
    }
    h4{
        text-align: center;
    }
    th, td {
        border: 0px;
        text-align: left;
    }
    hr {
        border: 1.5px solid black;
        border-radius: 3px;
        width: 80%;
    }
</style>
<h1>{{card.order}}</h1>
<h2 >{{card.name}}</h2>

{% if card.charge != 'badge'%}
<h4>{{card.charge}}</h4>
<hr />
<h4>{{card.true_department}}</h4>
<table>
<tbody>
<tr>
    <th>Cumpleaños:</th>
    <td>{{card.birth_date}}</td>
</tr>
<tr>
    <th>Ingreso a Abalat:</th>
    <td>{{card.arrival_date}}</td>
</tr>
<tr>
    <th colspan="2">Gustos e intereses:</th>
</tr>
<tr>
    <td colspan="2">{{card.description}}</td>
</tr>
</tbody>
</table>
{% endif %}