<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 27.9.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="pachuca_00000098207255418099438920000006529073280436872604_"
	 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 266.4 343.9"
	 style="enable-background:new 0 0 266.4 343.9;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;}
	.st1{fill:#9FDBF5;}
	.st2{font-family:'Montserrat'; font-weight: bold;}
	.st3{font-size:15px;}
	.st4{fill:none;stroke:#B9A4DE;stroke-miterlimit:100;}
	.st5{fill:#95CEE9;}
	.st6{font-size:20px;}
	.st7{fill:#FEFEFE;}
	.st8{font-size:15px;}
</style>
<g id="Capa_13_xA0_Imagen_00000151533159426864341180000014272191473840596111_">
	
		<image style="overflow:visible;enable-background:new    ;" width="1109" height="1434" id="Capa_13_xA0_Imagen" xlink:href="22A0014D.png"  transform="matrix(0.2398 0 0 0.2398 0.2128 0)">
	</image>
</g>
<g id="Capa_15_xA0_Imagen_00000116914624711473662400000006840336435091055272_">
	
		<image style="overflow:visible;enable-background:new    ;" width="988" height="1227" id="Capa_15_xA0_Imagen" xlink:href="22A0014F.png"  transform="matrix(0.2398 0 0 0.2398 14.4 3.869)">
	</image>
</g>
<g id="PACHUCA_xA0_Imagen_00000178172807820228010040000002718542559794835596_">
	
		<image style="overflow:visible;enable-background:new    ;" width="217" height="347" id="PACHUCA_xA0_Imagen" xlink:href="22A0014A.png"  transform="matrix(0.24 0 0 0.24 189.12 218.64)">
	</image>
</g>
<g id="_x7B__x7B_card.position_x7D__x7D_">
	<rect x="126.6" y="12.7" class="st0" width="108.7" height="15.1"/>
	<text transform="matrix(1 0 0 1 127.5856 23.0846)" class="st1 st2 st3">{{card.position}}</text>
</g>
<g id="Línea_1_copia">
	<g>
		<rect x="76.8" y="328.6" class="st4" width="109.5" height="0.1"/>
	</g>
</g>
<g id="_x7B__x7B_card.name_x7D__x7D_">
	<rect x="57.3" y="305.3" class="st0" width="123.8" height="15.5"/>
	<text transform="matrix(1 0 0 1 57.28 319.2399)" class="st5 st2 st6">{{card.name}}</text>
</g>
<g id="_x7B__x7B_card.jersey_x7D__x7D_">
	
		<rect x="234" y="40.6" transform="matrix(0.7053 -0.7089 0.7089 0.7053 22.8046 189.4633)" class="st0" width="10.6" height="53.4"/>
	<text transform="matrix(0.7089 0.7053 -0.7053 0.7089 220.8783 47.9152)" class="st7 st2 st8"> {{card.jersey}}</text>
</g>
</svg>
