{% load static %}
{% load render_bundle from webpack_loader %}

<!doctype html>
<html lang="es">
<head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8">
    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, shrink-to-fit=no">
    <!-- Allow installing the app to the homescreen -->
    <link rel="manifest" href="manifest.json">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Álbum Digital</title>
    {% render_bundle 'main' 'css' %}
</head>
<body class="bg-light">
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript>If you're seeing this message, that means <strong>JavaScript has been disabled on your browser</strong>, please <strong>enable JS</strong> to make this app work.</noscript>
    {% if user.is_authenticated %}
        {% for event in events %}
        <div class="Event-Item">
            <div class="container">
                Participa en nuestra dinámica, <a href="{% url 'events:create_prediction' id=event.id %}">predice el resultado del partido {{event}}</a> y gana tarjetas especiales.
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <nav class="navbar navbar-expand-md navbar-dark main-menu">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'assets/logo_cwt_alt.svg' %}" height="30" class="d-inline-block align-top" alt="">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav ml-auto">
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home"></i> Inicio</a>
                    </li>
                    {% endcomment %}
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:card_list' pk=user.id slug='portada' %}"><i class="fas fa-sign-out-alt"></i> Mi álbum</a>
                    </li>
                    {% comment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:redeem' %}"><i class="fas fa-sign-out-alt"></i> Agregar tarjeta</a>
                    </li>
                    {% endcomment %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:directory' %}"><i class="fas fa-sign-out-alt"></i> Directorio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:notifications' %}"><i class="fas fa-sign-out-alt"></i> Intercambios {% if alerts.count is not 0 %}<span class="badge badge-pill badge-primary">{{alerts.count}}</span>{%endif%}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth_logout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'registration_register' %}"><i class="fas fa-user-plus"></i> Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'auth_login' %}"><i class="fas fa-sign-in-alt"></i> Iniciar sesión</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <img src="{% static 'assets/logo_aeromexico_alt.svg' %}" height="25" class="logo-aeromexico-menu" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body_block %}
    {% endblock %}

    {% render_bundle 'vendors' 'js' %}
    {% render_bundle 'main' 'js' %}
</body>
</html>
