.header-description
    padding 20px 30px
    background: rgba($white, 0.6)
    p
        font-family: 'antenna'
        font-size 1em
    h2
        font-family: 'avenir'
        font-weight: bold
        // color #E92429
        color $primary

.nav-item
    p
        margin 0


.album-background
    background-position: center top
    background-repeat: no-repeat
    background-size: 100%
    min-height calc(100vh - 60px)

.it
    @extend .album-background
    background-image: url('../../assets/images/it@2x.png')
    background-color: #420D2E

.finanzas
    @extend .album-background
    background-image: url('../../assets/images/finanzas@2x.png')
    background-color: #231F20

.direccion-general
    @extend .album-background
    background-image: url('../../assets/images/direccion-general@2x.png')
    background-color: #705009

.implementaciones
    @extend .album-background
    background-image: url('../../assets/images/implementaciones@2x.png')
    background-color: #2F1A45

.marketing
    @extend .album-background
    background-image: url('../../assets/images/marketing@2x.png')
    background-color: #14301B

.meeting-events
    @extend .album-background
    background-image: url('../../assets/images/meeting-events@2x.png')
    background-color: #211645

.program-management
    @extend .album-background
    background-image: url('../../assets/images/program-management@2x.png')
    background-color: #6B0F1A

.recursos-humanos
    @extend .album-background
    background-image: url('../../assets/images/recursos-humanos@2x.png')
    background-color: #0F1235

.supplier-management
    @extend .album-background
    background-image: url('../../assets/images/supplier-management@2x.png')
    background-color: #07263A

.traveler-services
    @extend .album-background
    background-image: url('../../assets/images/traveler-services@2x.png')
    background-color: #003E52

.ventas
    @extend .album-background
    background-image: url('../../assets/images/ventas@2x.png')
    background-color: #7C082C

.svg-logo-sidebar
    display inline-block
    width 18px

.bg-worldcup
    background-image: url('../../assets/images/background.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover

.Cover
    min-height calc(100vh - 60px)
    .row
        flex-direction: column;
    &--Header
        margin 0 auto
        lost-utility clearfix
        img
            width 100%
            max-width 120px
    &--Logo
        lost-utility clearfix
        margin 20px auto
        img
            width 100%
            max-width 250px
    &--User
        text-align: center
        font-family: 'din'
        font-weight: bold
        color: $white
        text-transform: uppercase
        margin 150px auto 0 auto
        padding: 25px 30px
        .Title
            font-size 2em
        .Progress
            font-size 1.2em
            color $primary
        p
            margin 0
    &--Logos
        lost-utility clearfix
        margin 20px auto
        img
            width 100%
            max-width 400px
    &--Aeromexico
        lost-utility clearfix
        margin 0px auto
        background: #D1D3D4
        padding: 20px 30px
        width 100%
        img
            max-width 200px
            margin 0px auto
            display: block
.Card
    &--Full
        size 100%
        position relative
        &--Footer
            background: rgba($white, 0.5)
            padding: 10px 15px
            font-size 8px
            font-weight: bold
            text-transform: uppercase
            font-family: 'din'
            &--Quantity
                margin-bottom 7px
        &--Body
            position: absolute
            top: 0
            left: 0
            width 100%
            &--Title
                position absolute
                left 20px
                top 88%
                color $black
                z-index 10
                width: 68%
                p
                    margin 0
                    letter-spacing: -0.1px
                    font-family: 'antenna'
                    &.title
                        font-size: 11px;
                        font-weight: bold;
                        line-height: 10px;
                        margin: 0;
                        border-bottom 1px solid $black
                        padding-bottom 2px
                    &.department
                        font-size: 10px;
                        margin: 0;
                        font-weight: bold;
                        color $grey
                    &.description
                        font-size: 9px;
                        margin: 0;
                        text-transform: capitalize;
                        line-height: 1px;
                        color $grey
            &--Back
                width: 100%
                position absolute
                top: 0
                left: 0
                z-index 10
                svg
                    border 2px solid $black
                    position: absolute
                    left 0
                    top: 0
                    width: 100%
        &:before
            content: ''
            padding-top: 128%
            display: block

    &--Empty
        size 100%
        position relative
        &--Body
            position: absolute
            top: 0
            left: 0
            width 100%
            &--Back
                width: 100%
                position absolute
                top: 0
                left: 0
                z-index 10
                svg
                    border 2px solid $black
                    position: absolute
                    left 0
                    top: 0
                    width: 100%
            &--Shield
                width: 60%
                position absolute
                center both
                color $black
                z-index 10
                svg
                    position: absolute
                    left 0
                    center vertical
                    width: 100%
            &--Title
                position absolute
                center both
                color $black
                z-index 10
            &--Name
                center both
                top 88%
                color $black
                z-index 10
                font-weight: bold
                text-align center
                width: 75%
                font-size 12px
                line-height: 12px
        &:before
            content: ''
            padding-top: 130%
            display: block
