{% load static %}
<div class="Card--Full">
    <div class="Card--Full--Body" id="Card-{{card.id}}">
        {% if card.codes %}
        <div class="Card--Full--Body--Quantity Card-Quantity" data-id="{{card.id}}">
            <span>{{card.codes.count}}</span>
        </div>
        {% endif %}
        <div class="Card--Full--Body--Back">
            {% if card.is_badge %}
            <img class="Card--Full--Body--Back--Photo CardPhoto" src="{% static card.img_template %}">
            {% else %}
            {% if card.photo %}
            <img class="Card--Full--Body--Back--Photo CardPhoto" src="{{ card.photo_thumbnail.url }}" />
            {% else %}
            <img src="" />
            {% endif %}
            {% include card.html_template with card=card %}
            <img class="Card--Full--Body--Back--Ribbon" src="{% static card.ribbon_template %}" />
            {% endif %}
        </div>
    </div>
    {% if user.is_authenticated and user.id is album_user.id %}
    <div class="Card--Full--Footer Card-Footer Card-Footer-{{card.id}}">
        {% for code in card.codes %}
            <div class="Card--Full--Footer--Code">{{code}}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
