{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="row text-dark justify-content-md-center">
        <div class="col-md-12">
            <div class="my-3 p-3">
                {% bootstrap_messages %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row text-center">
            <div class="col-12 col-md">
                <img class="mb-2" src="{% static 'assets/logo-asofarma.svg' %}" alt="" width="250">
                <small class="d-block mb-3 text-muted">© 2021-2022</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12 col-md">
                <ul class="list-unstyled text-small">
                    <li><span class="text-muted">Todos los derechos reservados</span></li>
                    <li><span class="text-muted">® Polar Multimedia</span></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
