body
  font-family: $lato
  font-smoothing: antialiased
  text-rendering: optimizeLegibility
  color $dark-grey

h1, h2, h3, h4, h5
  font-family: $lora
  color $finn

h5
  color: #dddae0

h1, h2
  font-weight: 700
